.navbar-nav {
  li {
    margin: 0 20px;
  }

  .nav-link {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }

  .nav-item.active .nav-link {
    border-bottom: 3px solid rgba(255, 186, 0, 1);
  }
  .container-door {
    // width: 100%;
    // height: 100%;
    display: flex;
    // justify-content: center;
    gap: 20px;
    // align-items: center;
  }
  .flipbox {
    position: relative;
    top: -15px;
    height: 50px;
    width: 40px;
    border: 6px solid #eb9c09;
    border-bottom: none;
  }
  .flipbox-active {
    height: 44px;
    width: 30px;
    background-color: #ffba00;
  }
  .flipbox-active:hover {
    transform: perspective(1200px) rotateY(40deg) translateX(-10%);
    transition: 0.45s;
  }
}

#navbar.scrolled {
  background-color: white !important;
}

.main-hero {
  #hero {
    background: url(../public/Assets/landing/hero-bg.svg);
    height: 90vh;
  }

  .hero-img-position {
    top: -280px;
  }

  .hero-img-container {
    display: flex;
    justify-content: center;
    height: 80vh;
  }
}

.about-tektime {
  height: 100vh;
}

.card-shadow {
  box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.13);
}

.btn-primary {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  background-color: rgba(71, 59, 240, 1);
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid rgba(71, 59, 240, 1);
  color: rgba(71, 59, 240, 1);
}
.btn-demo {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: rgba(71, 59, 240, 1);
  border: none;
  font-weight: 600;
}

// .signup-btn {
//   background: rgba(71, 59, 240, 1);
// }

// .signup-btn:hover {
//   background: rgba(71, 59, 240, 1);
// }

.main-heading {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
}

.description {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #595c63;
}

.green-txtcolor {
  color: rgba(104, 213, 133, 1);
}

.why-choose-us {
  background: rgba(244, 247, 250, 1);
  p {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #595c63;
  }
  li {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #595c63;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

#pricing {
  .card {
    height: 410px;
  }
  .pricing-btn {
    border: none;
    padding: 10px 16px;
    background: rgba(240, 239, 254, 1);
    border-radius: 5px;
    color: rgba(71, 59, 240, 1);
  }

  .pricing-btn:hover {
    background: rgba(71, 59, 240, 1);
    color: white;
  }

  .card:hover {
    border: 3px solid rgba(0, 67, 255, 1) !important;
    background: rgba(240, 239, 254, 1);
    .pricing-btn {
      background: rgba(71, 59, 240, 1);
      color: white;
    }
  }
}

.testimonials {
  background: url(../public/Assets/landing/testimonial-bg.png);
  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  p {
    font-size: 20px;
    color: white;
    font-weight: 600;
  }
  span {
    font-size: 16px;
    color: #ffffff;
  }
}

.way-of-supporting {
  .supporting-card {
    background: url(../public/Assets/landing/supporting-card.png);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 44px -10px rgba(1, 23, 48, 0.12);
  }

  .cursor-img {
    position: absolute;
    top: -25px;
    left: 245px;
  }
}

.footer {
  background: rgba(22, 28, 45, 1);

  h4 {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  li {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
  }

  .footer-li-color {
    color: rgba(255, 255, 255, 1);
  }
  .icons {
    color: grey;
    cursor: pointer;
  }
  .icons:hover {
    color: #68d585;
  }
}

.cases {
  padding-top: 80px;
  padding-bottom: 50px;

  h1 {
    font-family: "Gilroy-Regular", sans-serif;
  }

  p {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
  }

  .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-bottom: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-10px);
    }

    .card-body {
      position: relative;
    }

    .card-text {
      font-size: 18px;
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;
      padding-top: 5px;
      padding-right: 20px;
      color: #595c63;
      position: relative;
      display: inline-block;
      transition: padding-right 0.3s ease;
    }

    .arrow {
      display: inline-block;
      opacity: 0;
      position: absolute;
      right: -30px;
      top: 50%;
      color: blue;
      font-weight: 500;
      font-size: 30px;
      transform: translateY(-50%) rotate(-30deg);
      transition: right 0.3s ease, opacity 0.3s ease;
    }

    &:hover .card-text {
      padding-right: 40px;
    }

    &:hover .arrow {
      right: 0;
      opacity: 1;
    }
  }
}

@media (width: 1920px) {
  .main-hero {
    .hero-img-position {
      top: -300px;
    }
  }

  .way-of-supporting {
    .supporting-card {
      background: url(../public/Assets/landing/supporting-card.png);
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: none;
    }

    .cursor-img {
      position: absolute;
      top: -25px;
      left: 295px;
    }
  }
}

@media (max-width: 1710px) {
  .way-of-supporting {
    .supporting-card {
      background: url(../public/Assets/landing/supporting-card.png);
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: none;
    }

    .cursor-img {
      position: absolute;
      top: -25px;
      left: 300px;
    }
  }
}

@media (max-width: 1400px) {
  .way-of-supporting {
    .supporting-card {
      background: url(../public/Assets/landing/supporting-card.png);
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0px 6px 44px -10px rgba(1, 23, 48, 0.12);
    }

    .cursor-img {
      position: absolute;
      top: -25px;
      left: 245px;
    }
  }
}

@media (max-width: 1024px) {
  .main-hero {
    .hero-img-position {
      top: -180px;
    }
  }

  .main-heading {
    font-size: 45px;
  }

  .way-of-supporting {
    .supporting-card {
      box-shadow: 0px 6px 44px -10px rgba(1, 23, 48, 0.12);
    }

    .cursor-img {
      position: absolute;
      top: -25px;
      left: 205px;
    }
  }

  .navbar {
    background: white;
  }
}

@media (max-width: 768px) {
  .main-hero {
    .hero-img-position {
      top: -210px;
    }

    .hero-img-container {
      height: 50vh;
    }
  }

  .main-heading {
    font-size: 40px;
  }

  .way-of-supporting {
    .cursor-img {
      position: absolute;
      top: -15px;
      left: 148px;
    }
  }
}

@media (max-width: 576px) {
  .main-hero {
    .hero-img-position {
      top: -180px;
    }

    .hero-img-container {
      height: 22vh;
    }
  }

  .main-heading {
    font-size: 35px;
  }

  .way-of-supporting {
    .cursor-img {
      position: absolute;
      top: -18px;
      left: 170px;
    }
  }

  .footer {
    .social-icons {
      justify-content: center;
    }
  }
}

@media (max-width: 375px) {
  .main-hero {
    .hero-img-position {
      top: -190px;
    }

    .hero-img-container {
      height: 14vh;
    }
  }

  .way-of-supporting {
    .cursor-img {
      position: absolute;
      top: -18px;
      left: 150px;
    }
  }
}
